.userInfo {
  width: 100%;
  max-width: 300px;

  .userContainer {
    border: 1px solid var(--site-border-color);
    border-radius: 10px;
    box-shadow: var(--site-item-box-shadow);
    padding: 8px 14px;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 0.3s linear, top 0.2s linear;
    position: relative;
    top: 0;

    &:hover {
      top: -10px;
      box-shadow: var(--site-item-box-shadow-current);
    }

    .avatar {
      margin: 0 auto;
      height: 5rem;
      width: 5rem;
      box-sizing: content-box;
      padding: 8px;
      border: 1px solid var(--site-border-color);
      box-shadow: var(--site-item-box-shadow);
      cursor: pointer;
      border-radius: 50%;
      transition: transform 0.3s linear;

      &:hover {
        box-shadow: var(--site-item-box-shadow-current);
        transform: rotate(360deg);
      }


      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .name {
      margin-top: 6px;
      text-align: center;
      font-weight: 600;
    }

    .summary {
      margin-top: 6px;
      color: var(--ifm-color-primary-unimportant);
      //text-indent: 2em;
      text-align: center;
      font-weight: 500;
    }

    .navLinkList {
      display: flex;
      font-size: 20px;
      flex-direction: row;
      justify-content: space-around;
      padding-left: 10px;
      padding-right: 10px;
      align-items: center;

      li {
        cursor: pointer;
        flex: 1;

        a {
          color: var(--ifm-color-primary-unimportant);

          &:hover {
            color: var(--ifm-color-primary);
          }
        }

        span {
          margin-left: 3px;
          vertical-align: text-bottom;
        }
      }
    }

    .contactList {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      justify-content: center;
      font-size: 30px;
      color: var(--ifm-color-primary-lightest);

      a {
        svg {
          border-radius: 50%;
        }

        &:hover svg {
          background-color: #efefef;
        }
      }
    }
  }

  .tagContainer {
    margin-top: 30px;
    border: 1px solid var(--site-border-color);
    border-radius: 10px;
    box-shadow: var(--site-item-box-shadow);
    padding: 8px 14px;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: var(--site-item-box-shadow-current);
    }

    .tagTitle {
      color: var(--ifm-color-primary);
      font-size: 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 5px;
    }

    .tagList {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 6px;
      column-gap: 10px;
    }

    .tagName {
      border: 1px solid var(--site-border-color);
      border-radius: 6px;
      padding: 4px 10px;
      font-size: 14px;
      cursor: pointer;
      transition: border 0.3s linear;

      &:hover {
        border-color: var(--ifm-color-primary);
      }

      a {
        text-decoration: none;

      }
    }
  }
}
